<ul class="mb-8">
  <% cart.cart_products.each do |cart_product| %>
    <li class="relative flex flex-col items-center justify-between gap-3 border-b border-light-gray-300 py-3 sm:flex-row sm:gap-10">
      <div class="w-full flex grow items-center justify-start gap-4 sm:max-w-[400px]">
        <%= image_tag cart_product.product.image, class: "max-w-[100px]" %>
        <h5>
          <%= cart_product.product.name %>
        </h5>
      </div>
      <div class="flex w-full items-center justify-between">
        <div class="flex">
          <%= link_to cart_product_path(cart_product, quantity: cart_product.quantity - 1),
            class: 'rounded-md rounded-r-none bg-light-gray-100 p-1 transition-colors hover:bg-gray-300',
            'data-turbo-method': :patch do
          %>
            <%= inline_svg_tag 'minus.svg' %>
          <% end %>
          <h4 class="min-h-8 min-w-8 bg-light-gray-100 p-1 text-center font-bold">
            <%= cart_product.quantity %>
          </h4>
          <%= link_to cart_product_path(cart_product, quantity: cart_product.quantity + 1),
            class: 'rounded-md rounded-l-none bg-light-gray-100 p-1 transition-colors hover:bg-gray-300',
            'data-turbo-method': :patch do
          %>
            <%= inline_svg_tag 'plus.svg' %>
          <% end %>
        </div>
        <div class="flex items-center gap-2 sm:gap-0">
          <h4 class="font-semibold">
            <%= number_to_currency(cart_product.product.price * cart_product.quantity, unit: "₽", format: "%n %u") %>
          </h4>
          <%= link_to cart_product_path(cart_product),
            data: {
              'turbo-method': :delete,
              'turbo_confirm': 'Вы действительно хотите удалить товар?'
            } do %>
            <%= inline_svg_tag 'trash.svg',
              class: 'trash-icon sm:absolute sm:right-0 sm:top-3 [&>path]:transition-colors [&>path]:hover:fill-light-gray-500' %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<% unless cart.cart_products.empty? %>
  <div class="mt-8 text-right">
    <h3 class="text-lg font-semibold">
      <%= cart.cart_products.sum(:quantity) %> товара на сумму <%= number_to_currency(cart.total_price, unit: "₽", format: "%n %u") %>
    </h3>
  </div>
<% end %>

  <style>
    li.relative {
      transition: transform 0.2s ease-in-out;
      background-color: #f9fafb; /* Светлый оттенок */
    }
    li.relative:hover {
      transform: scale(1.05);
      background-color: #f3f4f6; /* Чуть светлее при наведении */
    }
    .trash-icon {
      transition: transform 0.2s ease-in-out;
    }
    .trash-icon:hover {
      transform: scale(1.25);
    }
  </style>
  