<h2>Корзина</h2>

<%= render 'carts/discount_form', cart: @cart %>

<h3>Товары в корзине:</h3>
<%= render 'carts/cart_products', cart: @cart %>

<p><strong>Итого: <span id="total-price"><%= @total_price_with_discount %></span> ₽</strong></p>

<%= render 'carts/clear_cart_form' %>
<%= render 'carts/checkout_form' %>

<!-- Добавьте Stimulus-контроллер и передайте данные о ценах -->
<div data-controller="cart">
  <script type="text/javascript">
    document.querySelectorAll(".quantity-form input[type='number']").forEach(input => {
      input.dataset.prices = '<%= @cart.cart_products.map { |cp| [cp.id, cp.product.price] }.to_h.to_json.html_safe %>';
    });
  </script>
</div>

